
@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Modak&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Modak&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Geom:ital,wght@0,300..900;1,300..900&family=Modak&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Bubbles&display=swap');
@import "tailwindcss";
.Hero{
    font-family: 'Geom', cursive;
}
.Herodesc{
    font-family: 'Rubik', sans-serif;
}
.special{
    font-family: 'Sour', ;
}